<!DOCTYPE html>
<html>
    <head> 
        <link href="style.css" rel="stylesheet"/>
    </head>
    <body>
        <div id="div1" class="blue">DIV 1개</div>
        <div id="div2" class="font-sm blue">DIV 2개</div>
        <div class="font-sm">DIV SM</div>
    </body>
</html>