<!DOCTYPE html>
<html>
    <head> 
        <!-- 2. 파일 안에 style 선언 -->
        <style>
            div {
                background-color: blueviolet;
            }
        </style>
        <!-- 3. 파일로 만들어서 가져오기 -->
        <link href="style.css" rel="stylesheet"/>
    </head>
    <body>
        <img src="dog.jpg"/>
        <!-- 1. inline style -->
        <div style="background-color: aqua;">DIV 박스</div>
        <div>DIV 박스 2</div>
    </body>
</html>