<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <div>
            <div>DIV 박스</div>
            <div>DIV 박스 2</div>
        </div>
        <div>
            <span>SPAN 박스</span>
            <span>SPAN 박스 2</span>
        </div>
        <p>ㅁㄴㅇㄹㄷㄹㄴㅇㄹㅁㄴㅇㄹ</p>

        <ul>
            <li>항목1</li>
            <li>항목2</li>
            <li>항목3</li>
        </ul>
        <ol>
            <li>항목 1</li>
            <li>항목 2</li>
            <li>항목 3 </li>
        </ol>
        
        <button>버튼</button>
        <a href="https://www.google.com">google</a>
        <img src=""/>
        <img src="https://s.pstatic.net/static/www/mobile/edit/2016/0705/mobile_212852414260.png" />
    </body>
</html>